body {
    background-image: url("https://images.unsplash.com/photo-1516400208832-007613167c28?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
    background-size: cover;
    font-family: 'BeonRegular'; 
   font-weight: normal; 
   font-style: normal; 
}